h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")
}

h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
    background-color: mediumspringgreen;
    font-family: helvetica;
  }

  p {
    font-family: helvetica;
    font-size: 16px;
  }

.frames {
  background-color: lightcoral;
  font-family: helvetica;
}

.paint {
  background-color: skyblue;
}

strong {
  font-weight: bold;
  color: blue;
}
